html,
body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

#STRONA {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#NAGLOWEK {
    background-color: #A53;
}

#MENU {
    width: 380px;
    float: left;
    overflow: hidden;
    background-color: #B75;
}

#TRESC {
    width: 900px;
    float: left;
    overflow: hidden;
    background-color: #FF6;
}

#STOPKA {
    clear: both;
    width: 100%;
    background-color: #A53;
    padding: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #FFA;
}

#NAGLOWEK>a {
    color: #FF6;
}

#NAGLOWEK>a>img {
    width: 120px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

#NAGLOWEK>a>h1 {
    display: inline-block;
    vertical-align: bottom;
}

.clear {
    clear: both;
}

#MENU ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#MENU li {
    padding: 4px;
    margin: 6px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.3);
}

#MENU a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
}

#MENU li:hover {
    background-color: #FFA;
}

#MENU li:hover a {
    color: #A53;
}

#MENU a {
    color: #FF0;
}

.art {
    margin: 3px 8px;
    border-bottom: 1px dotted black;
}

.art h2 {
    font-variant: small-caps;
    color: #210;
}

.art p {
    margin: 8px;
    text-align: justify;
}

.art img {
    float: left;
    width: 160px;
    margin: 10px;
}

.art img::after {
    clear: both;
}

#STOPKA>div {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    text-align: center;
}

.stopka-logo {
    display: inline-block;
    padding: 3px;
}

#STOPKA a {
    color: white;
}